*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
} 

.float-right{
    float: right;
}

.relative{
    position: relative;
}

header{
    height: 80px;
    line-height: 80px;
}

.logo{
    line-height: 75px;
}

.logo img{
    vertical-align: middle;
    margin-left: 1.5rem;
}

.nav li{
    display: inline-block;
} 

a{
    margin: 0 1rem;
    color: black;
    text-decoration: none;
}

/* JUMBOTRON */
#jumbotron{
    background-color: rgb(180, 208, 231);
}

.btn-blu{
    border: none;
    padding: 5px;
    background-color: rgb(0, 97, 255);
}

.btn-blu a{
    color: white;
}

.jumbo-title{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 4rem;
}
.jumbo-title *{
    margin-bottom: 1.5rem; 
}

.jumbo-title h1{
    font-size: 4rem;   
    
}

.jumbo-subtitle{
    width: 35%;
}

.jumbo-img{
    position: absolute;
    top: 35%;
    left: 35%; 
} 

.jumbo-img img{
    width: 90%
}

/* Main */

#buisness-plane *{
    padding: 10px;
}

#buisness-plane button{
    text-align: center;
    padding: 10px 20px ;
}

.border,.enterprice{
    border: 1px solid grey;
    padding: 10px 25px;
}

.piano{
    width: calc((100% / 3) - 40px);
}

.enterprice{
    width: 100%;
}

.middle{
    margin: 0 60px 3rem;
}

.piano ul{
    list-style: none;
}

.piano-team{
    border-bottom: 1px solid grey;
    text-align: center;
}

/* SEZIONE DUE */

.container{
    width: 60%;
    max-width: 1180px;
    margin: 12rem auto;
}

.partner-img{
    width: 60%;
}

.partner-img img{
    width: 90%;
}

.partner-text{
    width: 40%;
}

/* SEZIONE TRE */
.operation img{
    width: 100%;
}

.op-container > div{
    display: inline-block;
} 