*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
} 


.float-right{
    float: right;
}

header{
    height: 80px;
    background-color: pink;
    line-height: 80px;
}

.logo{
    font-weight: 600;
    margin-left: 1.5rem;
}

.nav li{
    display: inline-block;
}
.nav li a{
    margin: 0 1rem;
    color: black;
    text-decoration: none;
}