*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
} 

.float-right{
    float: right;
}

.relative{
    position: relative;
}

header{
    height: 80px;
    line-height: 80px;
}

.logo{
    line-height: 75px;
}

.logo img{
    vertical-align: middle;
    margin-left: 1.5rem;
}

.nav li{
    display: inline-block;
} 

a{
    margin: 0 1rem;
    color: black;
    text-decoration: none;
}

/* JUMBOTRON */
#jumbotron{
    background-color: rgb(180, 208, 231);
}

.btn-blu{
    border: none;
    padding: 5px 30px;
    background-color: rgb(0, 97, 255);
    color: white;

}

.container-big{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.jumbo-title{
    padding: 4rem;
}
.jumbo-title *{
    margin-bottom: 1.5rem; 
}

.jumbo-title h1{
    font-size: 4rem;   
    
}

.jumbo-subtitle{
    width: 35%;
}

.jumbo-img{
    position: absolute;
    top: 35%;
    left: 40%; 
} 

.jumbo-img img{
    width: 90%
}

/* Main */
/* BUISNESS SECTION */

#buisness-plane{
    margin-top: 15rem;
}

.buy-plane a {
    color: rgb(0, 97, 255);
}

.buy-plane span{
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgrey;
}

.btn-blu-container{
    text-align: center;
}


.border,.enterprice{
    border: 1px solid lightgrey;
    padding: 10px 25px;
}

.piano{
    width: calc((100% / 3) - 40px);
}

.piano div{
    margin-bottom: 2rem;
}


.enterprice{
    width: 100%;
}

.enterprice .clearfix{
    line-height: 50px;
}

.middle{
    margin: 0 60px 3rem;
}

.piano ul{
    list-style-image: url(../img/vuejs-brands.svg);
}

.piano-team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.punti-piano{
    margin-top: 4rem;
}

/* PARTNER SECTION */

#partner button{
    padding: 5px 10px;
    background-color: white;
}

.container{
    width: 60%;
    max-width: 1180px;
    margin: 8rem auto;
}

.partner-text *{
    padding: 1rem 0;
}

.partner-img{
    width: 60%;
}

.partner-img img{
    width: 90%;
}

.partner-text{
    width: 40%;
}

/* SEZIONE TRE OPERATION */
.operation img{
    width: 100%;
}

.op-container > div{
    display: inline-block;
} 

/* SEZIONE QUATTRO TEAM */

.team-text{
    width: 50%;
}

.team-text a{
    color: blue;
    margin: 0;
    text-decoration: underline;
}

/* SEZIONE CINQUE DESIGNIT */

#designit{
    height: 400px;
}

.designit-container{
    /* width: calc(100% / 3); */
    width: 40%;
    height: 100%;
    background-color: red;
    /* border: 2px solid red; */
}

.designit-img-container{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.img-small-container{
    width: 50%;
    height: 50%;
}
.img-small-container img{
    height: 100%;
    width: 100%;
}

/* SEZIONE SEI TRIAL */
#trial-section{
    background-color: rgb(180, 208, 231);
}

#trial-section .container{
    margin: 0 auto 8rem;
}

#trial-section h2{
    display: inline-block;
}

.container .central-wrapper{
    padding: 15% 0;
}

.central-wrapper h2{
    font-size: 2.5rem;
    width: 50%;
    color: rgb(97, 8, 43);
}

.central-wrapper a{
    background-color: white;
    color: black;
}
/* SEZIONE SETTE QUESTIONS */

.title-questions{
    padding: 3rem 0;
    border-bottom: 1px solid lightgrey;
}

.questions{
    padding: 2rem 0;
    border-bottom: 1px solid lightgrey;
}

.questions i{
    margin-right: 2rem;
}

/* FOOTER */
footer{
    background-color: black;
}

footer .container-big{
    padding: 5rem 0 2rem;
}

.footer-list{
    color: white;
}

.footer-list ul{
    list-style: none;
    list-style-position: inside;
    padding-bottom: 2rem;
}

.list{
    width: calc((100% / 5) - 6rem);
    margin-right: 6rem;
}

.list h4{
    margin-bottom: 10px; 
}

.list li{
    padding: 5px 0;
}

.list:first-child{
    border-bottom: 1px solid lightgrey;
}

.lenguage{
    margin-top: 2rem;
    color: white;
}